body {
  margin-top: 1em;
}
form {
  padding: 20px;
}
.input-group {
  font-weight: bold;
  font-size: 19px;
}
.input-group input {
  font-weight: bold;
  font-size: 19px;
  text-align: center;
}
#title {
  color: white;
  background-color: black;
}
.jumbotron {
color: white;
background-color: #0c9cf4;
background-size: cover;
}
.form-control {
   margin-left: 15em;
   align-items: flex-end;
}
.label-control{
  position: absolute;
}
#calculation{
  margin-left: 2em;
}
